@model Suniukai_MVC_Paskaita.Models.Kaciukas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kaciukas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vardas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nuotrauka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nuotrauka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aprasymas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aprasymas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
